:root{
    --purple-NuBank: #8A04BE;
}
body {
    background-color: var(--purple-NuBank);
    padding:5%;
}
h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
h2{
    font-size: 14px;
    color: grey;
}
h3{
    font-size: small;
}
button {
    text-transform: uppercase;
    font-size: 10px;
    color: var(--purple-NuBank);
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 6px;
    border-color: var(--purple-NuBank);
    border: 1px solid;
}


.card{
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;    
}